<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] ERP</title>
</head>

<body class="bg-gray-200 text-gray-900">
    <header>
        <nav class="border-b border-gray-200 bg-white shadow-md">
            <div class="container mx-auto px-4 flex flex-wrap items-center justify-between">
                <div class="text-sm text-gray-500 my-4">
                    <p><a href="/" class="text-2xl font-bold text-blue-500">ERP</a></p>
                    @if (!string.IsNullOrEmpty(ViewContext.RouteData.Values["area"]?.ToString()))
                    {
                    <text> > @ViewContext.RouteData.Values["area"]</text>
                    }
                    @if (!string.IsNullOrEmpty(ViewContext.RouteData.Values["controller"]?.ToString()))
                    {
                    <text> &gt; @ViewContext.RouteData.Values["controller"]</text>
                    }
                    @if (!string.IsNullOrEmpty(ViewContext.RouteData.Values["action"]?.ToString()) &&
                    ViewContext.RouteData.Values["action"]?.ToString()?.ToLower() != "index")
                    {
                    <text> &gt; @ViewContext.RouteData.Values["action"]</text>
                    }
                </div>

                <button id="nav-toggle" class="block sm:hidden focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
                <div id="nav-content" class="hidden w-full sm:flex sm:items-center sm:w-auto">
                    <ul class="flex flex-col sm:flex-row sm:space-x-6 mt-3 sm:mt-0">
                        <li><a href="@Url.Action("Index", "Home", new {area="Finance"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">财务</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="Procuredure"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">购入</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="Sales"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">销售</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="Inventory"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">仓库</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="Asserts"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">资产</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="HumanResource"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">人事</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {area="Production"})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">制造</a></li>
                        <li><a href="@Url.Action("Index", "Agent", new {area=""})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">Copilot</a></li>
                        <li><a href="@Url.Action("Login", "Auth", new {area=""})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">用户</a></li>
                        <li><a href="@Url.Action("Index", "System", new {area=""})"
                                class="block py-2 px-3 text-blue-500 hover:text-blue-600">系统</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="container mx-auto">
    
    <main role="main" class="pb-6">
        @RenderBody()
    </main>
</div>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script>
        document.getElementById('nav-toggle').addEventListener('click', function () {
            const navContent = document.getElementById('nav-content');
            navContent.classList.toggle('hidden');
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
