@model IEnumerable<ArERP.Areas.Inventory.Models.Warehouse>

@{
    Layout = "Panel";
}

<div class="flex justify-between mb-4">
    <h2 class="text-2xl">仓库列表</h2>
    <a asp-action="Create"
       class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 transition">添加仓库</a>
</div>

<div class="bg-white rounded-lg shadow overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200" id="inventoryTable">
        <thead class="text-black">
        <tr>
            <th class="px-6 py-3 text-left tracking-wider">@Html.DisplayNameFor(item => item.Id)</th>
            <th class="px-6 py-3 text-left tracking-wider">@Html.DisplayNameFor(item => item.Name)</th>
            <th class="px-6 py-3 text-left tracking-wider">@Html.DisplayNameFor(item => item.Location)</th>
            <th class="px-6 py-3 text-left tracking-wider">操作</th>
        </tr>
        </thead>
        <tbody class="bg-white">
        @foreach (var item in Model)
        {
            <tr class="hover:bg-gray-50">
                <td class="px-6 py-4">@item.Id</td>
                <td class="px-6 py-4">@item.Name</td>
                <td class="px-6 py-4">@item.CreationDate.ToString("yyyy-MM-dd")</td>
                <td class="px-6 py-4">
                    <a asp-area="Inventory" asp-controller="Warehouse" asp-action="Details" asp-route-id="@item.Id"
                       class="text-blue-600 hover:underline">详情</a>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

