@model ArERP.Areas.HumanResource.Models.Department

@{
    ViewData["Title"] = "Details";
    Layout = "Panel";
}

<h2 class="text-2xl font-bold mb-4">部门详情</h2>

<div class="max-w-md bg-white shadow-md rounded-lg p-6 mb-4">
    <h4 class="text-lg font-semibold mb-4">部门信息</h4>
    <div class="space-y-4">
        <div class="flex">
            <div class="w-1/3 font-medium">@Html.DisplayNameFor(model => model.Id)</div>
            <div class="w-2/3">@Html.DisplayFor(model => model.Id)</div>
        </div>

        <div class="flex">
            <div class="w-1/3 font-medium">@Html.DisplayNameFor(model => model.DepartmentName)</div>
            <div class="w-2/3">@Html.DisplayFor(model => model.DepartmentName)</div>
        </div>

        <div class="flex">
            <div class="w-1/3 font-medium">@Html.DisplayNameFor(model => model.CreationDate)</div>
            <div class="w-2/3">@Html.DisplayFor(model => model.CreationDate)</div>
        </div>

        <div class="flex">
            <div class="w-1/3 font-medium">@Html.DisplayNameFor(model => model.Deleted)</div>
            <div class="w-2/3">@(Model.Deleted ? "是" : "否")</div>
        </div>
    </div>
</div>
<div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">编辑</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">删除</a> |
        <a asp-action="Index">返回列表</a>
    </div>
</div>
